@use "../../../../styles.scss" as style;
@use "@angular/material" as mat;

:host ::ng-deep .card {
  background-color: mat.get-color-from-palette(style.$grey-palette, 400);
  border-radius: 12px;
  padding: 1rem 1rem 0.7rem 0.7rem;

  .header {
    .title {
      margin: 0;
      line-height: 1.2;
    }
    .price {
      color: mat.get-color-from-palette(style.$grey-palette, 700);
    }
  }
}
